@import "../../../../variables";


.search-section {
    background-image: url('../../../../../public/images/main-img.jpg');
    background-size: cover;
    height: 600px;
    @include row_align-center;
    justify-content: center;
    margin-bottom: $space-between-sections;
}

@media screen and (max-width: 900px) {
    .search-section {
        background-image: url('../../../../../public/images/main-img-mobile.jpg');
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    .search-section {
        height: 250px;
        margin-bottom: $space-between-sections_mobile;
    }
}