@import "../../variables";

.logo {
    @include row_align-center; 

    &__text {
        text-transform: capitalize;
        text-align: center;
        font-size: 50px;
        font-family: 'Merriweather';
        word-spacing: 10px;
        color: #0d0d0d;

        &--light{
            color: #fff;
        }
    }
}

@media screen and (max-width: 600px) {
    .logo {
        &__text {
            font-size: 40px; 
        }
    }
}

@media screen and (max-width: 430px) {
    .logo {
        &__text {
            font-size: 35px; 
        }
    }
}