@import "../../../variables";

.news-card {
    display: flex;
    cursor: pointer;

    &--vertical {
        width: 100%;
        max-width: 220px;
        overflow: hidden;
    }

    &__link-container {
        display: flex;

        &--vertical {
            flex-direction: column;
        }
    }

    &__image {
        background-size: cover;
        background-position: center;

        &--large {
            height: 501.5px;
            min-width: 350px;
        }

        &--horizontal {
            height: 150px;
            width: 300px;
        }

        &--vertical {
            max-width: 220px;
            height: 220px;
        }
    }

    &__data {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;

        &--large {
            padding: 0 20px;
        }

        &--horizontal {
            padding: 0 15px;
        }

        &--vertical {
            padding: 15px 0;
            max-height: 220px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;

        &--large {
            gap: 20px;
        }

        &--horizontal,
        &--vertical {
            gap: 10px;
        }
    }

    &__category {
        color: $danger;
        font-size: 13px;
        font-weight: 500;
        text-transform: capitalize;
    }

    &__author {
        color: #606060;
        text-transform: capitalize;
        max-height: 30px;
        overflow: hidden;
        overflow-y: scroll;

        &--horizontal,
        &--vertical {
            font-size: 14px;
        }
    }

    &__title {
        max-height: 220px;
        overflow: hidden;

        &--large {
            font-size: 24px
        }

        &--horizontal,
        &--vertical {
            font-size: 16px
        }
    }

    &__brief-info {
        max-height: 234px;
        overflow: hidden;
        overflow-y: scroll;
    }

    &__navigate {
        @include row_align-center;
        cursor: pointer;
        display: flex;
        gap: 10px;
        transition: all .2s ease;

        &:hover {
            gap: 25px;
        }

        &--horizontal,
        &--vertical {
            gap: 5px;

            &:hover {
                gap: 15px;
            }
        }
    }

    &__link {
        font-weight: 500;
        white-space: nowrap;

        &--large {
            font-size: 16px;
        }

        &--horizontal,
        &--vertical {
            font-size: 12px;
        }
    }

    &__link-icon {

        &--large {
            width: 27px;
        }

        &--horizontal,
        &--vertical {
            width: 20px;
        }
    }

    &__date {
        color: $light_text_color;

        &--large {
            font-size: 14px;
        }

        &--horizontal,
        &--vertical {
            font-size: 10px;
        }
    }
}




@media screen and (max-width: 1170px) {
    .news-card {
        &__image { 
    
            &--large { 
                min-width: 250px;
            } 
        }

    &__brief-info {
        max-height: 150px; 
    }
    } 
}


@media screen and (max-width: 900px) {
    .news-card {
        &--vertical {
            max-width: 160px;
        }

        &__image {
            &--vertical {
                max-width: 160px;
                height: 160px;
            }
        }

        &__data {
            &--vertical {
                padding: 10px 0;
                max-height: 170px;
            }
        }

        &__text {
            &--vertical {
                gap: 6px;
            }
        }

        &__category {
            font-size: 12px;
        }

        &__author {
            &--vertical {
                font-size: 13px;
            }
        }

        &__title {
            max-height: 150px;

            &--vertical {
                font-size: 14px
            }
        }
    }
}