@import "../../../variables";

.news-card {
    display: flex;
    cursor: pointer;

    &--vertical {
        max-width: 220px;
    }

    &__link-container {
        display: flex;

        &--vertical {
            flex-direction: column;
        }
    }

    &__image {
        background-size: cover;
        background-position: center;

        &--large {
            height: 500px;
            width: 350px;
        }

        &--horizontal {
            height: 150px;
            width: 300px;
        }

        &--vertical {
            max-width: 220px;
            height: 220px;
        }
    }

    .bg {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(244, 244, 244);
        background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(255, 255, 255, 1) 68%, rgba(244, 244, 244, 1) 100%);
    }

    &__image {
        width: 100%;
        z-index: 1;
    }

    &__data {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;

        &--large {
            padding: 0 20px;
        }

        &--horizontal {
            padding: 0 15px;
        }

        &--vertical {
            padding: 15px 0;
            max-height: 220px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;

        &--large {
            gap: 20px;
        }

        &--horizontal,
        &--vertical {
            gap: 10px;
        }
    }

    &__author {
        color: #606060;
        text-transform: capitalize;
        // font-weight: 500;

        &--horizontal,
        &--vertical {
            font-size: 14px;
        }

    }

    &__title {
        &--large {
            font-size: 24px
        }

        &--horizontal,
        &--vertical {
            font-size: 16px
        }
    }

    &__navigate {
        @include row_align-center;
        cursor: pointer;
        display: flex;
        gap: 10px;
        transition: all .2s ease;

        &:hover {
            gap: 25px;
        }

        &--horizontal,
        &--vertical {
            gap: 5px;

            &:hover {
                gap: 15px;
            }
        }
    }

    &__link {
        font-weight: 500;
        white-space: nowrap;

        &--large {
            font-size: 16px;
        }

        &--horizontal,
        &--vertical {
            font-size: 12px;
        }
    }

    &__link-icon {

        &--large {
            width: 27px;
        }

        &--horizontal,
        &--vertical {
            width: 20px;
        }
    }

    &__date {
        color: $light_text_color;

        &--large {
            font-size: 14px;
        }

        &--horizontal,
        &--vertical {
            font-size: 10px;
        }
    }
}