@import "../../variables";

.search-news {
    &__input {
        width: 40vw;
        border-bottom: 2px solid #333;
        font-size: 22px;
        padding-right: 50px;
        padding-left: 10px;
        padding-bottom: 4px;

        &--light {
            border-bottom: 2px solid #fff;
            color: #fff;
        }

        &::placeholder {
            color: $light_text_color;
        }
    }

    &__btn {
        cursor: pointer;
        margin-left: -40px;
    }

    &__btn-icon {
        width: 30px;
    }
}

@media screen and (max-width: 900px) {
    .search-news {
        &__input {
            width: 70vw;
        }
    }
} 

@media screen and (max-width: 600px) {
    .search-news {
        &__input {
            width: 80vw;
            font-size: 18px;
            padding-right: 40px;
            padding-left: 6px;
            padding-bottom: 2px;
        }

        &__btn { 
            margin-left: -25px;
        }
    
        &__btn-icon {
            width: 20px;
        }
    }
} 