.selected-topic {
    &__title {
        font-size: 32px;
        text-transform: capitalize;
        margin-bottom: 32px;
    }

    &__data-list {
        margin-top: 30px; 
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}