@import "../../variables";

.loader-container,
.error-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.selected-topic {
    margin-top: 60px;
    margin-bottom: $space-between-sections;

    &__search{
        display: flex;
        justify-content: center;
        margin: 100px 0 70px;
    }

    .news-card__image {
        &--large {
            min-width: 60%;
        }
    }

    &__data-list {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
}